/* custom class swiper */

/* custom pagination color từ blue sang green */
.swiper-pagination-bullet-active {
  background-color: #008345 !important;
}
.swiper-pagination {
  position: static !important;
  margin-top: 25px;
}
/*custom arrows button cho slider  */
.arrow {
  display: none;
  position: absolute;
  top: 270px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  z-index: 1;
}
.arrow button {
  background-color: transparent;
  opacity: 0.5;
}
.arrow-right {
  right: 10px;
}
.arrow-left {
  left: 10px;
}
/* animation cho button arrow */
.mySwiper:hover .arrow {
  display: block;
  animation: change-color 2s infinite;
}
@keyframes change-color {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* custom three dots khi over height */
.cut-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* width height của thẻ a trong pagination quá bé khó bấm */
.breakLinkClassName {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
